body {
    font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
}
.actor-container {
    width: 30%;
    float: left;
    max-height: 300px;
    border: 10px solid black;
    border-radius: 5px;
    margin: 5px;
    background-color: greenyellow;
    position: relative;
}
.name {
    text-align: center;
    background-color: black;
    color: lightblue;
    padding: 10px 10px 0 0;
    font-size: 24px;
}
.birthday {
    text-align: center;
    background-color: black;
    color: lightblue;
    padding: 0 10px 10px 10px;
    font-size: 12px;
}
.image-container {
    float: left;
    margin: 10px;
}
.image {
    height: 150px;
}
.movie-container {
    margin: 10px;
}
.movie {
    margin-bottom: 3px;
    font-size: 12px;
}

.delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: red;
    color: yellow;
    border-radius: 10px;
    cursor: pointer;
}